/* タイトル */

h1 {
    border-bottom: solid 1px #000;
}


/* サンプル */

.samplearea {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}


/* サイドバー */

.samplearea_side {
    width: 350px;
    height: 700px;
    background-color: #888;
    float: left;
}


/* メイン */

.samplearea_main {
    width: 650px;
    height: 700px;
    background-color: #ccc;
    float: left;
}


/* タイトル */

.samplearea_title {
    width: 1000px;
    height: 100px;
    background-color: #ccc;
}


/* ヘッダー */

.samplearea_header {
    width: 1000px;
    height: 100px;
    background-color: #888;
}


/* 記事 */

.samplearea_article {
    width: 1000px;
    height: 350px;
    background-color: #ccc;
}

.samplearea_article_ad {
    width: 1000px;
    height: 350px;
    background-color: #888;
}


/* スマートフォン */

@media screen and (max-width: 414px) {
    /* サンプル */
    .samplearea {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }
    /* サイドバー */
    .samplearea_side {
        width: 100%;
        height: 500px;
        background-color: #888;
        float: none;
    }
    /* メイン */
    .samplearea_main {
        width: 100%;
        height: 500px;
        background-color: #ccc;
        float: none;
    }
    /* タイトル */
    .samplearea_title {
        width: 100%;
        height: 100px;
        background-color: #ccc;
    }
    /* ヘッダー */
    .samplearea_header {
        width: 100%;
        height: 300px;
        background-color: #888;
    }
    /* 記事 */
    .samplearea_article {
        width: 100%;
        height: 700px;
        background-color: #ccc;
    }
}